Source: ros-kinetic-open-manipulator-with-tb3-gazebo
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-controller-manager, ros-kinetic-gazebo-ros, ros-kinetic-gazebo-ros-control, ros-kinetic-urdf, ros-kinetic-xacro
Homepage: http://wiki.ros.org/open_manipulator_with_tb3_gazebo
Standards-Version: 3.9.2

Package: ros-kinetic-open-manipulator-with-tb3-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-manager, ros-kinetic-gazebo-ros, ros-kinetic-gazebo-ros-control, ros-kinetic-urdf, ros-kinetic-xacro
Description: Simulation package using gazebo for OpenManipulator with TurtleBot3
